# ----------------------------------------------------------------------
# Reglas generales para CodeIgniter
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
  Options -Indexes
  RewriteEngine On

  # Asegura que el RewriteBase apunte a la raíz del contenedor
  RewriteBase /

  # Si el recurso existe como archivo o directorio, lo sirve Apache tal cual
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Si no existe, se redirige a index.php (CI)
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# ----------------------------------------------------------------------
# Seguridad básica
# ----------------------------------------------------------------------
<Files .*>
  Order Deny,Allow
  Deny from all
</Files>

# Evita listar directorios
Options -Indexes
